.demo-table {
    width: 90%;
    margin: auto;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

h3 {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background-color: 'white';
}

.button {
  height: fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}